body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#leftDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: #F3C969;
  border-bottom: 10px dotted #975F11;
  border-left: 10px dotted #975F11;
}

#rightDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  background-color: #FCEBC2;
  border-top: 7px solid #975F11;
  border-right: 7px solid #975F11;
}

#quoteContain {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

p {
  font-family: Palatino-linotype, serif;
  font-size: 1.5rem;
}


#authorP {
  font-weight: bold;
}

button {
  font-family: Palatino-linotype, serif;
  font-size: 1rem;
  margin: 1rem;
}

.twitterSh {
  width: 8rem;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 20px;
  border: 1px solid orange;
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}






/*
=======================================================================================
Media Query
=======================================================================================
*/

@media (min-width: 800px){

   body {
     flex-direction: row;
   }

   #leftDiv {
     height: 100%;
     width: 60%;
     border-left: none;
     border-right: 10px dotted #975F11;
   }

   #rightDiv {
     height: 100%;
     width: 40%;
     border-left: 7px solid #975F11;
     border-right: none;
   }

   p {
     font-size: 2.5rem;
   }

   .twitterSh {
     font-size: 1.75rem;
   }

}
